<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>SUFeedURL</key>
	<string>https://swush.s3.eu-west-2.amazonaws.com/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>mYA62KxOveGobH7xIWZd/M7ulv9zMgBXnbzQ8qc+weo=</string>
</dict>
</plist>
